<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kommentare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2 th:text="${beitrag.title}"></h2>
<h3 th:text="${beitrag.text}"></h3>


<a th:href="@{/}">Home</a>



<form th:if="${sessionUser != null}" th:action="@{/comments/{id}(id = ${beitrag.id})}" th:object="${comment}" method="post">
    <p>Kommentar verfassen:</p>
    <textarea th:field="*{text}"></textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>
    <button type="submit">Abschicken</button>
</form>

<hr>

<div th:each="comment : ${commentList}">
    <strong th:text="${comment.user.username}"></strong>
    <span th:text="${comment.text}"></span>
    <span th:text="${comment.postedAt}"></span>


</div>

</body>
</html>
