<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pöbel Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <h1 style="color: hotpink" th:text="${'Willkommen, Unbekannter'}" th:if="${sessionUser == null}"></h1>
    <h1 style="color: sandybrown" th:text="${'Willkommen, ' + sessionUser.username}" th:if="${sessionUser != null}"></h1>
    <a th:href="@{/login}" th:if="${sessionUser == null}">Login</a>
    <a th:href="@{/register}">Registrieren</a>


    <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>

    <hr>

    <p>
        <a th:href="@{/beitrag}" th:if="${sessionUser != null and sessionUser.isAdmin() == true}">Beitrag verfassen</a>
        <br>
        <a th:href="@{/useradmin}" th:if="${sessionUser != null and sessionUser.isAdmin() == true}">Admin-Rechte verwalten</a>
    </p>

    <hr>

    <div th:each="beitrag: ${beitragList}">



            <strong th:text="${beitrag.user.username}"></strong>
            <span th:text="${beitrag.postedAt}":></span>

        <a th:href="@{/comments/{beitrag}(beitrag=${beitrag.id})}">
            <span th:text="${beitrag.title}"></span>
        <span th:text="${beitrag.text}"></span>
        </a>
    </div>
</body>
</html>
