<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Administration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Admin-Rechte verwalten (User-Veredelung:-))</h1>
<hr>


<div th:if="${sessionUser != null and sessionUser.isAdmin() == true}" th:each="user : ${userlist}">

    <strong th:text="${user.username}"></strong>

    <div th:if="${!user.admin}">

        <form th:action="@{/useradmin/isAdmin/{id}(id=${user.id})}" method="post">
            <button type="submit">Zum Admin befördern</button>
        </form>

    </div>

    <div th:if="${user.admin}">Ist Admin!</div>

 </div>


</body>
</html>
